.dot {
    width: 2rem;
    height: 2rem;
    border: 1px rgb(131, 76, 138) solid;
    border-radius: 50%;
  }

  body{
    background-image:url("https://i.pinimg.com/564x/3c/63/45/3c63455a15de9a70d653cb24cf0db8a0.jpg");
  }
  
  .starter-template {
      padding: 80px 15px;

  }
  .header {
    margin-bottom: 20px;
  }
  .listings-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .listing {
    display: flex;
    width: 30%;
    flex-direction: column;
    border: 1px solid black;
    margin: 2em;
    max-height: 350px;
    overflow: auto;
  }
  
  .listing > img {
    height: 60%;
    object-fit: contain;
  }
  
  .listing > h2 {
    text-decoration: underline;
  }
  
  .listing > h2:hover {
    color: rgb(164, 168, 125);
    cursor: pointer;
  }
  .list-item-container {
    /* background-image:("https://i.pinimg.com/564x/3c/63/45/3c63455a15de9a70d653cb24cf0db8a0.jpg"); */

    display: flex;
    flex-direction: column;
  }
  
  .form {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .form-button {
    width: 150px;
    height: 30px;
    border-radius: 0;
    background: rgb(240, 240, 240);
  }
  
  .form-header {
    font-size: 40px;
  }
  img {
    border:10px solid #000000;
  }
  img.width {
    max-width:500px;
  }
  
  
  
  /*.listing {
    display: flex;
    width: 30%;
    flex-direction: column;
    border: 1px solid black;
    margin: 2em;
    max-height: 350px;
    overflow: auto;
  }
  
  .listing > img {
    height: 60%;
    object-fit: contain;
  }
  
  .listing > h2 {
    text-decoration: underline;
  }
  
  .listing > h2:hover {
    color: red;
    cursor: pointer;
  }*/
  